ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

/* .food-imgs {
  width: 20rem;
  height: 15rem;
} */

li a {
  border: 1px solid whitesmoke;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 22.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  color: #e72929;
  font-weight: 650;
  transition-duration: 0.5s;
}


li a:hover {
  opacity: 0.7;
}

.content {
  padding: .5rem 1rem;
  position: relative;
}

.favorite {
  position: absolute;
  top: .5rem;
  right: 1rem;
  font-size: 1.2rem;
}

.favorite.not {
  color: grey;
}

.stars {
  margin-bottom: .2rem;
}

.product-item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.origins {
  flex: 9;
}

.origins span {
  border-radius: 2rem;
  background-color: whitesmoke;
  display: inline-block;
  font-size: .7rem;
  color: grey;
}

.cook-time {
  font-size: .8rem;
  text-align: right;
}

.price {
  margin-top: .7rem;
  color: #414141
}

